<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<body>
<table >
 <tr style="background-color:lightgrey;">
   <td width=540 >
<head>
    <meta charset="UTF-8">
    <title>Strength: Lug Static Strength</title>
	<h2 style="text-align:center;">Lug Static Strength v2004</h2>
</head>
 </tr>
 </table> 
  </td> 
 
	  <form method="post">
        {% csrf_token %}
<table >
 <tr>
  <td width=303 >
<div style="text-align:right;">
	<p style="font-weight:bold;font-size:16px">Input Geometry &nbsp &nbsp &nbsp &nbsp</p>
</div>
<div style="text-align:right;">
    <label for="e">Edge margin  e =</label>
    <input name="e" id='e' class="editable" size=4 value="{{ e }}"> in&nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="R">Nose profile radius  R =</label>
    <input name="R" id='R' class="editable" size=4 value="{{ R }}"> in&nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="D">Hole diameter  D =</label>
    <input name="D" id='D' class="editable" size=4 value="{{ D }}"> in&nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="t">Lug thickness  t =</label>
    <input name="t" id='t' class="editable" size=4 value="{{ t }}"> in&nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="beta">Profile taper  b =</label>
    <input name="beta" id='beta' class="editable" size=4 value="{{ beta }}"> deg
</div>
<div style="text-align:right;">
    <label for="theta">Oblique angle  q =</label>
    <input name="theta" id='theta' class="editable" size=4 value="{{ theta }}"> deg
</div>
<div style="text-align:right;">
    <label for="W">Width   W =</label>
    <input name="W" id='W' disabled size=4 value="{{ W }}"> in&nbsp &nbsp
<div style="text-align:right;">
    <label for="eod">eod = e/D = </label>
    <input name="eod" id='eod' disabled size=4 value="{{ eod }}">&nbsp &nbsp &nbsp &nbsp
<div style="text-align:right;">
    <label for="Rod">RoD = R/D = </label>
    <input name="Rod" id='Rod' disabled size=4 value="{{ Rod }}">&nbsp &nbsp &nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="Wod">WoD = W/D = </label>
    <input name="Wod" id='Wod' disabled size=4 value="{{ Wod }}">&nbsp &nbsp &nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="Dot">Dot = D/t =</label>
    <input name="Dot" id='Dot' disabled size=4 value="{{ Dot }}">&nbsp &nbsp &nbsp &nbsp
</div>

<div style="text-align:right;">
	<p style="font-weight:bold;font-size:16px">Strength Factors &nbsp &nbsp &nbsp &nbsp</p>
</div>

<table >
 <tr>
  <td width=100>
      <select id="Ref" name="Ref" style="text-align:right; width:120px;">
              <option value="0">Ref. Material</option>
              <option value="MMPDS-04">MMPDS-04</option>
              <option value="BD">BD</option>
              <option value="MMPDS04&BD">MMPDS04&BD</option>
              <option value="User1">User1</option>
      </select>
      <select id="Material" name="Material" style="text-align:right; width:120px;">
              <option value="2024">2024</option>
              <option value="195">195</option>
              <option value="222">222</option>
              <option value="356">356</option>
              <option value="2014">2014</option>
              <option value="7050">7050</option>
              <option value="7075">7075</option>
              <option value="0">Aluminum</option>
              <option value="U0000">U0000</option>
              <option value="U0001">0001</option>
      </select>
      <select id="Specification" name="Specification" style="text-align:right; width:120px;">
              <option value="per">per</option>
              <option value="AMS4050">AMS4050</option>
              <option value="AMS4044">AMS4044</option>
              <option value="None">None</option>
              <option value="S0001">0001</option>
      </select>
      <select id="Temper" name="Temper" style="text-align:right; width:120px;">
              <option value="T6">T6</option>
              <option value="T7451">T7451</option>
              <option value="T3">T3</option>
              <option value="T351">T351</option>
              <option value="T4">T4</option>
              <option value="T42">T42</option>
              <option value="T62">T62</option>
              <option value="T73">T73</option>
              <option value="T7351">T7351</option>
              <option value="T76">T76</option>
              <option value="T7651">T7651</option>
              <option value="T0001">0001</option>
              <option value="0">Temper</option>
      </select>
      <select id="Form" name="Form" style="text-align:right; width:120px;">
              <option value="Plate">Plate</option>
              <option value="BAR">BAR</option>
              <option value="EXTRUSION">EXTRUSION</option>
              <option value="Die Forging">Die Forging</option>
              <option value="Hand Forging">Hand Forging</option>
              <option value="Al Alloy Casting">Al Alloy Casting</option>
              <option value="Al Alloy Casting">H.S.CLAD PLATE</option>
              <option value="SHEET">SHEET</option>
              <option value="ANNEALED SHEET">ANNEALED SHEET</option>
              <option value="STA HAND FORGING">STA HAND FORGING</option>
      </select>
      <select id="tb" name="tb" style="text-align:right; width:120px;">
              <option value="t<=0.5">"t<=0.5"</option>
              <option value="t<=1.0">"t<=1.0"</option>
              <option value="t<=2.0">"t<=2.0"</option>
              <option value="t<=3">"t<=3"</option>
              <option value="t>0.5">"t>0.5"</option>
              <option value="t>1.0">"t>1.0"</option>
              <option value="3,0<t<=4,0">3,0<t<=4,0</option>
              <option value="0.250-1.500">0.250-1.500</option>
              <option value="1.501-2.000">1.501-2.000</option>
              <option value="2.001-3.000">2.001-3.000</option>
              <option value="3.001-4.000">3.001-4.000</option>
              <option value="4.001-5.000">4.001-5.000</option>
              <option value="5.001-6.000">5.001-6.000</option>
              <option value="6.001-7.000">6.001-7.000</option>
              <option value="7.001-8.000">7.001-8.000</option>
              <option value="0.250-1.500">0.250-1.500</option>
              <option value="1.501-2.000">1.501-2.000</option>
              <option value="2.001-3.000">2.001-3.000</option>
              <option value="restrictions">restrictions</option>
              <option value="None">None</option>
              <option value="A<=16">"A<=16"</option>
              <option value="A<=36">"A<=36"</option>
              <option value="A>=16">"A>=16"</option>
              <option value="A>36">"A>36"</option>
              <option value="25.4<a<=38">"25.4<a<=38"</option>
      </select>
      <select id="Basis" name="Basis" style="text-align:right; width:120px;">
              <option value="B">Basis B</option>
              <option value="A">Basis A</option>
              <option value="0">Basis</option>
              <option value="S">Basis S</option>
              <option value="None">None</option>
      </select>
      <select id="Grain" name="Grain" style="text-align:right; width:120px;">
              <option value="L">L</option>
              <option value="LT">LT</option>
              <option value="ST">ST</option>
              <option value="0">Grain</option>
      </select>
      <select id="GrainT" name="GrainT" style="text-align:right; width:120px;">
              <option value="LT">LT</option>
              <option value="L">L</option>
              <option value="ST">ST</option>
              <option value="0">GrainT</option>
      </select>
  </td>

  <td width=176>

<div style="text-align:right;">
    <label for="naxu">Chart AX#</label>
    <input name="naxu" id='naxu' class="editable" size=4 value="{{ naxu }}"> &nbsp &nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="Ntru">TR#</label>
    <input name="Ntru" id='Ntru' class="editable" size=4 value="{{ Ntru }}"> &nbsp &nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="Kaxu">Kaxu = </label>
    <input name="Kaxu" id='Kaxu' disabled size=4 value="{{ Kaxu }}"> &nbsp &nbsp &nbsp
</div>
<div style="text-align:right;">
    <label for="Ktru">Ktru = </label>
    <input name="Ktru" id='Ktru' disabled size=4 value="{{ Ktru }}"> &nbsp &nbsp &nbsp
</div>

<div style="text-align:right;">
	<p style="font-weight:bold;font-size:16px">Allowable Stresses &nbsp &nbsp</p>
</div>

<div style="text-align:right;">
    <label for="Ftuax">Ftuax =</label>
    <input name="Ftuax" id='Ftuax' class="editable" size=4 value="{{ Ftuax }}"> psi
</div>
<div style="text-align:right;">
    <label for="Ftutr">Ftutr =</label>
    <input name="Ftutr" id='Ftutr' class="editable" size=4 value="{{ Ftutr }}"> psi
</div>
  </td>
 </tr>
 </table>
        <input type="submit" value="Calculate Ultimate Strength" />
        </form>


  </td>

  <td width=234>
  <img width=233 src={%static "5110lug/img/img5110lug.png" %}>
  </td>

 </tr>
 
 
 </table>

<table >
 <tr style="background-color:lightgrey; text-align:right;">
   <td width=540 >

   <div style="font-weight:bold;font-size:14px;font-family: monospace;">
    <label for="Paxu">Paxu = Kaxu*(W/D-1)*D*t*Ftuax =</label>
    <input type="text" id='Paxu' disabled size=4 value="{{ Paxu }}" style="font-weight:bold;font-size:16px">lbs &nbsp &nbsp &nbsp &nbsp Axial Strength&nbsp
   </div>
   <div style="font-weight:bold;font-size:14px;font-family: monospace;">
    <label for="Ptru">Ptru = Ktru*D*t*Ftutr =</label>
    <input type="text" id='Ptru' disabled size=4 value="{{ Ptru }}" style="font-weight:bold;font-size:16px;">lbs&nbsp &nbsp Transverse Strength&nbsp
   </div>
   <div style="font-weight:bold;font-size:14px;font-family: monospace;">
    <label for="PtruoPaxu">PtruoPaxu = Ptru/Paxu =</label>
    <input type="text" id='PtruoPaxu' disabled size=4 value="{{ PtruoPaxu }}" style="font-weight:bold;font-size:16px">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
   </div>
   <div style="font-weight:bold;font-size:14px;font-family: monospace;">
    <label for="Kqu">Kqu =</label>
    <input type="text" id='Kqu' disabled size=4 value="{{ Kqu }}" style="font-weight:bold;font-size:16px"> &nbsp Oblique Strength Factor&nbsp
   </div>
   <div style="font-weight:bold;font-size:14px;font-family: monospace;">
    <label for="Pqu">Pqu = Kqu*Paxu =</label>
    <input type="text" id='Pqu' disabled size=4 value="{{ Pqu }}" style="font-weight:bold;font-size:16px">lbs &nbsp &nbsp &nbsp Oblique Strength&nbsp
   </div>

 </td>
 </tr>
 </table>
   <div>
    <label for="datatime"></label>
    <input type="text" id='datatime' disabled size=93 value="{{ datatime }}" style="font-size:11px">
   </div>
<!----------------------------------------------------------
<script src={%static "5110lug/js/js5110lug.js" %} ></script>
----------------------------------------------------------->
</body>
</html>
